@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;600&family=Prompt:wght@200;300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400&display=swap");

:root {
  --color-white-0: #ffffff;

  --color-black-900: #000000;

  --color-gray-200: #f8f8f8;
  --color-gray-300: #efefef;
  --color-gray-400: #e0e0e0;
  --color-gray-500: #c9c9c9;
  --color-gray-700: #b4b4b4;
  --color-gray-800: #a8a8a8;

  --color-yellow-200: #fffef6;
  --color-yellow-300: #fff6bd;
  --color-yellow-600: #ffdd04;

  --color-red-300: #f8814e;
  --color-red-500: #f1574f;

  --color-blue-400: #c5ecf9;
  --color-blue-700: #4695ce;

  --color-green-400: #cbe9d5;
  --color-green-400: #48b86e;

  --font-size-xxl: 4rem;
  --font-size-xl: 3.6rem;
  --font-size-l: 3.2rem;
  --font-size-m: 2.4rem;
  --font-size-sm: 2rem;
  --font-size-xsm: 1.4rem;
  --font-size-xxsm: 1.2rem;

  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --shadow-light: 0.1rem 0.1rem 1rem 0.1rem #c4c4c4;
  --shadow-hard: 0rem 0rem 2rem #6a6a6a;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Prompt", sans-serif;
}

body {
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  width: 100dvw;
  background-color: var(--color-gray-200);
}

.swiper {
  position: relative;
  width: 100%;
}

.swiper-slide-product-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  all: unset;
}

button:hover:disabled {
  cursor: not-allowed;
}

.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined.outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
